       <h1>hi{{name}}</h1>
   <form method="POST" action="/data">
<div class="container">
	<div class="row">
		<div class="col col-12 col-sm-4">
	
  <div class="jumbotron mt-5">
    <h1>Hi</h1>      
    <p>hi friends</p>
  </div>
		</div>
	<div class="col col-12 col-sm-4">
           <form method="post" action="/data">
		<table class="table mt-5">
		    <tr>
					<td>NAME</td>
					<td><input type="text" name="name" id="sname" required></td>
				</tr>
					<tr>
					<td>ADDRESS</td>
					<td><input type="text" name="addr" id="saddr"></td>
				
				<tr>
					<td>PLACE</td>
					<td><input type="text" name="place" id="splace"></td>
				</tr>
					<tr>
					<td>MOBILE</td>
					<td><input type="text" name="mobile" id="smobile"></td>
				</tr>
				<tr>
					<td>EMAIL</td>
					<td><input type="text" name="mail" id="smail"></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit" class="btn btn-primary" onclick="read()">REGISTER</button></td>
				</tr>
				
			</table></form>
		
			</div>
			
		
		<div class="col col-12 col-sm-4">
		
		</div>
		
	</div>
</div>