

    <div class="container-fluid">
<div class="row">
    <div class="col col-sm-6 col-md-6">
<h1  style="color:red;">welcome to handlebars</h1> <p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt nesciunt, aspernatur excepturi neque sapiente dolorum nihil minima, atque aut temporibus alias voluptates sed sit tempora laboriosam magni placeat, veniam laudantium.
    
    </div>
    <div class="col col-sm-6 col-md-6">
        <h1  style="color:red;">welcome to handlebars</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod, vel mollitia voluptatibus repellendus, animi deleniti ipsam culpa, ipsum nisi perferendis rem consectetur sequi facilis dolores odio quidem fugiat esse.</p>
    </div>
</div>
    </div>
     <div id="demo"  class="carousel slide center" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="mes.jpg" alt="Los Angeles" style="width:50%">
                          </div>
                          <div class="carousel-item">
                            <img src="mes.jpg" alt="Chicago"style="width:50%">
                          </div>
                        
                        
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                        
                      </div>
                </div>

